* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #4c4c6d;
}

.container {
  background-color: #e8f6ef;
  color: #1b9c85;
  width: 60%;
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  border-radius: 20px;
}

h1 {
  font-size: 50px;
  font-family: "roboto", sans-serif;
}
