* {
  box-sizing: border-box;
}

body {
  background-color: #102c57;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "roboto", sans-serif;
}

h1 {
  font-size: 50px;
  font-family: "roboto", sans-serif;
  color: #f6f4eb;
}

.selections {
  display: flex;
  gap: 100px;
}

i {
  font-size: 50px;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 30px;
  cursor: pointer;
}

i:active {
  transform: scale(0.98);
  color: orangered;
}

.play-btn {
  background-color: #91c8e4;
  font-size: 30px;
  color: #102c57;
  padding: 10px 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.play-btn:active {
  transform: scale(0.98);
}

h2 {
  color: #f6f4eb;
}

.scores {
  display: flex;
  color: #f6f4eb;
  font-family: inherit;
  gap: 100px;
}

.score {
  border: 1px solid #f6f4eb;
  padding: 20px 50px;
  width: 200px;
  text-align: center;
  color: orangered;
}

#message-el {
  color: orange;
  font-size: 1.2rem;
  text-align: center;
  height: 40px;
}

.choice {
  color: white;
  width: 200px;
}

.reset-btn {
  height: 30px;
  width: 100px;
  color: #102c57;
  font-weight: bold;
}

.hidden {
  display: none;
}
