@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans&family=Ubuntu:wght@500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #3081d0;
}

body {
  font-family: "open sans", sans-serif;
  background-color: #b6cadd;
  display: flex;
}

nav {
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px 30px;
  width: 20%;
  height: 100vh;
}

header {
  background-color: #fff;
  color: #000;
  height: 120px;
  width: 100%;
  -webkit-box-shadow: 0px 8px 24px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 8px 24px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 8px 24px -13px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin-top: 30px;
}

li {
  padding: 10px;
  cursor: pointer;
}

li:hover {
  background-color: #4d95dd;
}

i {
  margin-right: 20px;
}

/* Header section */

.search-icon {
  margin-right: 20px;
}

.main-container {
  width: 80%;
  height: 100vh;
}

.content {
  display: flex;
  padding: 20px;
  font-size: 26px;
  justify-content: space-between;
}

.content #search {
  border-radius: 50px;
  background-color: #bbd5ee;
  border: none;
  padding: 10px 30px;
  width: 600px;
  font-size: 15px;
}

.content #search:focus {
  border: none;
  outline: none;
}

.buttons {
  display: flex;
  gap: 50px;
  left: 35%;
  margin: 0 auto;
}

.buttons button {
  padding: 12px 40px;
  border-radius: 50px;
  border: none;
  background-color: #3081d0;
  color: white;
  cursor: pointer;
  transition: transform 0.1s ease-in;
}

.buttons button:active {
  transform: scale(0.9);
  background-color: #599bdd;
}

.info {
  display: flex;
  font-size: 16px;
}

.info .profile-icon {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}

main {
  display: flex;
}

/* Grid */

.grid-container {
  margin-top: 20px;
  padding: 20px;
  width: 70%;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.grid-item1 {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 10px;
  border-left: 10px solid orange;
}

.grid-item1 .icons {
  margin: 10px auto 0;
  padding-top: 20px;
}

.side-section {
  margin-top: 20px;
  width: 30%;
}

.item1 {
  padding: 20px;
  height: 50%;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item2 {
  padding: 20px;
  height: 42%;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px;
}

.item1,
.item2 {
  border-left: 10px solid #3081d0;
}
